html,
body {
    height: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
}

/* ----------------------------------------------------Left Box------------------------------------------------------------ */
.col-md-4.tansim-left-container {
    background-color: #2B377A;
    height: 100vh !important;
    padding: 56px 24px 24px;
    position: relative;
}

.tansim-left-container .tansim-left-header h6 {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 420;
    margin: 12% auto;
}

.tansim-left-container .tansim-left-header h5 {
    color: #6AE2FA;
    text-align: center;
    font-size: 1.90rem !important;
    line-height: 1.4;
}

.tansim-left-container .tansim-left-footer {
    position: absolute;
    bottom: 120px;
    left: 23%;
    color: white;
}

.tansim-left-container .tansim-left-footer a {
    color: white;
    text-decoration: underline;
}

/*  Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .col-md-4.tansim-left-container {
        display: none;
    }
}

/* ----------------------------------------------------Right Box------------------------------------------------------------ */
.col-md-8.tansim-right-container {
    height: 100vh;
}

.tansim-right-container .close-btn {
    position: absolute;
    right: 70px;
    top: 35px;
}

.tansim-right-container .tansim-right-form {
    padding: 10%;
}

.tansim-right-container .tansim-right-form h4 {
    color: #535353;
}

.tansim-right-container .tansim-right-form p {
    font-size: 21px;
}

.tansim-right-container .tansim-right-form input {
    background-color: #FCFCFC !important;
    height: 48px !important;
    width: 90%;
}

::placeholder {
    color: #CCCCCC !important;
    font-size: 13px;

}

.tansim-right-container .tansim-right-form button {
    margin-top: 35px;
    width: 90%;
    background-color: #3B87F6 !important;
    opacity: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tansim-right-container .tansim-right-form button:hover {
    background-color: #3B87F6 !important;
    opacity: 1;
}

/* mobile phones  */
@media (max-width: 576px) {

    .main-container {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .tansim-right-container .tansim-right-form {
        padding: 30% 10%;
    }

    .tansim-right-container .tansim-right-form input {
        width: 100%;
    }

    .tansim-right-container .tansim-right-form button {
        width: 100%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    .tansim-right-container .close-btn {
        position: absolute;
        right: 10%;
        top: 5%;
    }
}