html,
body {
    height: 100%;
}

.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* ----------------------------------------------------Left Box------------------------------------------------------------ */
.tansim-left-container {
    width: 40%;
    background-color: #2B377A;
    padding: 56px 24px 24px;
    position: relative;
}

.tansim-left-container .tansim-left-header {
    margin-top: 50px;
    padding: 0 50px !important;
}

.tansim-left-container .tansim-left-header h6 {
    color: white;
    font-size: 1.50rem !important;
    text-align: center;
    margin-bottom: 40px;
}

.tansim-left-container .tansim-left-header h5 {
    color: #6AE2FA;
    text-align: center;
    font-size: 1.90rem !important;
    line-height: 1.4;
}

.tansim-left-container .tansim-left-footer {
    position: absolute;
    bottom: 120px;
    left: 150px;
    color: white;
}

.tansim-left-container .tansim-left-footer a {
    color: white;
    text-decoration: underline;
}




/* ----------------------------------------------------Right Box------------------------------------------------------------ */
.tansim-right-container {
    width: 60%;
    background-color: white;
    position: relative;
}

.tansim-right-container .close-btn {
    position: absolute;
    right: 70px;
    top: 35px;
}

.tansim-right-container .tansim-right-form {
    width: 600px;
    margin: 120px 100px;
}

.tansim-right-container .tansim-right-form h4 {
    color: #535353;
}

.tansim-right-container .tansim-right-form p {
    font-size: 21px;
}

.tansim-right-container .tansim-right-form input {
    background-color: #FCFCFC !important;
    height: 48px !important;
}

::placeholder {
    color: #CCCCCC !important;
    font-size: 13px;

}

.tansim-right-container .tansim-right-form button {
    margin-top: 35px;
    background-color: #3B87F6 !important;
    opacity: 0.8;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tansim-right-container .tansim-right-form button:hover {
    background-color: #3B87F6 !important;
    opacity: 1;
}